<!DOCTYPE html>
<html>
<head>
    <title>Library Manager</title>
</head>
<body>
<h1>Welcome to the Library Manager</h1>
<a href="/books">View Books</a>
<a href="/users">View Users</a>
<a href="/transactions">View Transactions</a>
</body>
</html>
